.contact{
    display: flex;
    flex-direction: column;
    align-items: center;

    &__box{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 6rem;

        @media only screen and (max-width:600px){
            flex-direction: column;
            justify-content: space-between;
        }
    }

    &__details{
        width:45%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image{
        width:32%;
    }

    &__heading--1{
        font-size: 1.95rem;
        font-family: 'Stardos Stencil', cursive;
    }

    &__heading--2{
        font-size: 1.7rem;
        margin-top:1rem;
    }

    &__link{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        @media only screen and (max-width:600px){
            flex-direction: column;
        }

        &-item{
            margin:1rem;

            &:hover{
                transform:translateY(-0.1rem);
            }

            & img{
                @media only screen and (max-width:600px){
                    width:70%;
                }
            }
        }
    }
}