.work{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;

    &__timeline{
        display: flex;
        flex-direction: column;
        border-style: solid;
        border-width: 0.4rem;
        border-image:linear-gradient(transparent,rgba($color-primary,0.5), transparent) 1;
        border-right:transparent;
        padding:1rem 2rem;

        @media only screen and (max-width:600px){
            border:none;
        }
    }

    &__content{
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding:2rem;
        border-radius:1rem;
        box-shadow: 0.2rem 0.2rem 0.1rem rgba($color-text,0.3);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        &::before{
            content:'';
            width:1rem;
            height:1rem;
            border-radius: 50%;
            background-color: rgba($color-secondary,0.9);
            border:0.2rem solid rgba($color-primary,0.7);
            position: absolute;
            left:-2.8rem;
            top:3rem;

            @media only screen and (max-width:600px){
                display: none;
            }

        }

        @media only screen and (max-width:600px){
            align-items: center;
        }
    }

    &__heading{
        font-size: 1.9rem;
    }

    &__company{
        font-family: 'Stardos Stencil', cursive;
        font-size: 1.5rem;
    }

    &__duration{
        font-family: 'Stardos Stencil', cursive;
        color:$color-primary;
        align-self: flex-end;
        font-size: 1.4rem;
        margin-top: 1rem;

        @media only screen and (max-width:600px){
            align-self: center;
        }
    }
}