.header__navigation-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 7rem;

    @media only screen and (max-width:900px){
        justify-content: space-around;
    }
    @media only screen and (max-width:600px){
        display: none;
    }

    &-item{
        padding:3rem 3rem 0.5rem 3rem;
        font-size:2rem;
        cursor: pointer;
        border-bottom:0.2rem solid transparent;
        
        &:hover{
            border-style: solid;
            border-image-slice: 1;
            border-width: 0.2rem;
            border-right:transparent;
            border-left:transparent;
            border-top:transparent;
            border-image-source: linear-gradient(to left,transparent,rgba($color-primary,0.5));
        }

        &--number{
            font-family: 'Stardos Stencil', cursive;
            color:$color-primary;
        }

        & a:link,a:focus,a:active,a:visited,a:hover{
            text-decoration: none;
            color:$color-text;
        }
    }
}